<div>
    <h1>{{ faceSnap.title }}</h1>
    <p> {{ faceSnap.description }} </p>
    <h3> {{ faceSnap.createDate}} </h3>
    
    <img [src]=" faceSnap.imageUrl" [alt]="faceSnap.title" style="width: 300px;">
    
    <button (click)="onAddSnap()">{{btnString}} </button>
    🤌🏾 {{faceSnap.snaps}}
</div>

<div>
    <h1>{{ faceSnap.title }}</h1>
    <p> {{ faceSnap.description }} </p>
    <h3> {{ faceSnap.createDate}} </h3>
    
    <img [src]=" faceSnap.imageUrl" [alt]="faceSnap.title" style="width: 300px;">
    
    <button (click)="onAddSnap()">{{btnString}} </button>
    🤌🏾 {{faceSnap.snaps}}
</div>